
<!--Page which is shown when the user click on the reset link -->
{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}  <!-- To prevent a CSRF Attack-->
  {{ form.as_p }}   <!-- To generate the password reset form, prevents CSS attacks-->
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}